.container{
    width: 100vw;
    height: auto;
    flex-direction: column;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.container img{
    width: auto;
    height: auto;
    border-radius: 50%;

}
.text-area{
    width: 500px;
    height: auto;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}
.socialLinks{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.socialLinks a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}