h3{
    color: green;
}
.BoxModel{
    padding: 20px;
    background-color: rgb(161, 200, 200);
    margin: 150px;
    border: 100px solid black;

}
.box{
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: rgb(165, 200, 161);
    grid-template-columns: 200px 200px;
}
.box1{
    background-color: red;
    width: 10%;
    height: 10%;

    right: 50px;
    bottom: 0;
}
.box2{
    background-color: blue;
    top: 0px;
    width: 100px;
}